//GLOBAL
strong{
  font-weight: 300;
}

//Connector-Overrides
.connector{
  position: relative;
  .post-title{
    color: $w-color-dark;
    font-size: 1.33em;
    @media(max-width: $w-breakpoint-small){
      font-size: 1.2em;
    }
  }
  .post-content{
    p{
      font-size: $w-font-size-small;
    }
  }
  .slider-arrow{
    border-radius: 0;
    background: $w-color-primary;
    svg{
      path{
        fill: #fff;
      }
    }
  }


  //TYPE ANGEBOT
  .type-angebot{
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .post-title{
        margin: 0;
      }
      .price{
        font-family: Oswald;
        color: $w-color-primary;
        margin: 0;
        font-weight: 600;
        line-height: 1;
        font-size: 1.33em;
        @media(max-width: $w-breakpoint-small){
          font-size: 1.2em;
        }
      }
    }
  }

  @media(max-width: $w-breakpoint-small){
    .connector-inner{
      padding: 0;
    }
    .slider-arrow{
      &.slider-arrow-prev{
        left: -15px;
      }
      &.slider-arrow-next{
        right: -15px;
      }
    }
  }
}