.header {
    transform: translateY(0) !important;

    &--sticky,
    &--fixed {
        z-index: 400;
        right: 0;
        left: 0;
        top: 0;
    }
    &--sticky {
        position: sticky;
    }

    &--fixed {
        position: fixed;
        .header-inner{
            background: transparent;
            box-shadow: none;
            .header-item--logo{
                svg{
                    #rosenkranz,
                    #Pfad_5,
                    #Pfad_3{
                        fill: #fff;
                    }
                }
            }
            nav{
                a{
                    color: #fff;
                }
            }
        }
    }
    &--scrolled {
        .header-inner {
            padding: 1em 0;
            background: #fff;
            box-shadow: $w-def-box-shadow;
            nav{
                a{
                    color: $w-color-dark;
                }
            }
            .header-item--logo{
                svg{
                    #rosenkranz,
                    #Pfad_5,
                    #Pfad_3{
                        fill: $w-color-dark;
                    }
                }
            }
        }
    }


    // -----------------------------------------------
    // -----------------------------------------------
    // Inner Settings

    &-inner {
        box-shadow: $w-def-box-shadow;
        font-family: map-get($w-fonts, secondary);
        background: $w-color-white;
        font-weight: 500;
        padding: 1.75em 0;
        transition: all .5s;
    }

    &-container {
        @extend .alignwide;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }


    // -----------------------------------------------
    // -----------------------------------------------
    // Header Items / Elements

    &-col {
        display: flex;
        align-items: center;
    }
    .header-item--logo{
        svg{
            #rosenkranz,
            #Pfad_5,
            #Pfad_3{
                transition: all .5s;
                fill: $w-color-dark;
            }
        }
    }


    // -----------------------------------------------
    // Items

    &-item {
        &:not(:first-child) {
            margin-left: .75em;
        }
        // -----------------------------------------------
        // Navigation Wrapper

        &--nav {

            a {
                font-family: $w-headline-font-family;
                text-transform: uppercase;
                &:hover{
                    color: $w-color-primary !important;
                }
            }

            .current_page_ancestor,
            .current_page_item,
            .current-menu-item {

                & > a, & > a:hover {
                    color: $w-color-primary !important;
                }
            }

            ul.sub-menu a {
                font-weight: normal;
            }

            & + .header-item {
                margin-left: 1.5em;
            }
            // mehr in _navigation.scss
        }


        // -----------------------------------------------
        // Navigation Mobile

        &--mobile {
            a {
                background: w-color(primary);
                color: $w-color-white;
                padding: 1em;
            }
        }
    }
}
